---
layout: ./document.vto
---

<header>
  <a href="/" class="logo">
    <img src="/logo.small.avif" alt="vanillapod logo" width="64" height="64">
    <span data-name>vanillapod</span>
  </a>
  <nav id="global-nav">
    <a href="/">Home</a>
    <a href="/playground/">Playground</a>
  </nav>
  <h1>{{ title }}</h1>
  <p>{{ description }}</p>
</header>

<main>
  {{ content }}
</main>
