html {
    background-color: #eee;
}

body {
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: minmax(min-content, 40rem);
}

#app {
    background-color: #fff;
    border-radius: .25rem;
    width: 100%;
    margin: 1rem;
    box-shadow:
        0 .25rem .25rem 0 rgba(0 0 0 / 10%),
        0 .5rem .5rem 0 rgba(0 0 0 / 10%);
}

#app header {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    display: flex;
    gap: 1rem;
    align-items: center;
}

#app header>span {
    color: #666;
}

#app header>h1 {
    flex-grow: 1;
    flex-shrink: 1;
}

#app form {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    padding-block-start: 0;
}

#app ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-block-end: 1rem;
}

#app li {
    border-bottom: 1px solid #eee;
    display: flex;
    gap: .5rem;
    align-items: center;
}

#app li input[type=checkbox] {
    margin: 0;
    place-self: center;
}

#app li label {
    flex-grow: 1;
    /* margin-left: .5rem; */
    padding-block: 1rem;
    word-break: break-all;
}

#app li:first-child {
    padding-block-start: 0;
}

#app form>label {
    width: 100%;
    margin-block-end: .5rem;
}

#app form>input[type=text] {
    flex-grow: 1;
    border: 1px solid #bbb;
    padding: .5rem;
    z-index: 1;
}

#app button {
    padding: .5rem;
    background-color: #eee;
    border: 1px solid #bbb;
}

#app button:active {
    background-color: #ddd;
}

#app form>button {
    margin-left: -1px;
}
