---
title: Code (Syntax) Hightlight
description: Component used for code examples with syntax highlighting
---

<code-highlight>
  <link
    rel="stylesheet"
    href="./styles.css"
    media="screen"
  >
  {{ include "./_example.md" |> md }}
</code-highlight>
