@layer colors, tokens, theme, base, utils, misc;

@layer base {
  html {
    font-family: sans-serif;
  }
  fieldset {
    border: 0;
    padding: 0;
  }

  form menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@layer colors {
  :root {
    --color-lightgrey-hex: #666;
  }
}

@layer tokens {
  @scope (.token) {
    :root {
      --token: system-ui;
    }
    :scope {
      font-family: var(--token);
    }
  }
  @layer tokens.extend;
}

@layer theme {
  @scope ([data-theme="auto"], .theme-auto) {
    :scope {
      color-scheme: light dark;
    }
  }
  @scope ([data-theme="light"], .theme-light) {
    :scope {
      color-scheme: light;
    }
  }
  @scope ([data-theme="dark"]) {
    :scope {
      color-scheme: dark;
    }
  }
}

@layer utils {
  @scope (.flow) {
    :scope > * + * {
      margin-block-start: var(--flow, 1lh);
    }
  }
}

@layer misc {
  pre {
    padding: 1lh 1rem;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-block-end: 1lh;
    width: fit-content;
    & > img {
      width: 4rem;
      height: 4rem;
    }
    & > :where([data-name]) {
      font-family: monospace;
      font-size: 1.25rem;
      font-weight: 600;
      font-style: italic;
    }
  }
}
